body {
  margin: 0;
}

.Wrapper-route{
  display: flex;
  align-items: center;
  justify-content:center;
  background-color: black;
  width: 100%;
  height:50px;
  font-size: 30px;
}
.Wrapper-route a {
  color: white;
  text-decoration: none;
  margin: 0 20px 0 20px;
  &:hover{
    color: red;
  }
} 

.Wrapper-footer {
  display: flex;
  align-items: end;
  justify-content: center;
  background-color: black;
  color: white; 
  margin-top: 2px;
}
.conteinar {
  display: flex;
  justify-content: center;
 
  font-size: 30px;
  min-height: calc(101.1vh - 80px);
}
a.active { 
  color: red;
}
form {
 position: absolute;
}

form input {
  width: 200px;
  height: 25px;
  border-radius:  5px 0px 0px 5px;
 }

form button {
  background-color: black;
  cursor: pointer;
  color: white;
  border: none;
  width: 50px;
  height: 25px;
  border-radius:  0px 5px 5px 0px;
}
